body {
    background-image: linear-gradient(to top, #ff0f7b, #ff8989, #f89b29);
    width: 100vw;
    height: 100vh;
}

#secao-titulo-pagina {
    width: 100vw;
    height: 5vh;
    color: white;
}
#titulo-pagina {
    font-size: 4vh;
    font-weight: 900;
    width: max-content;
    margin: auto;
}

#section-input-task {
    margin: auto;
    width: max-content;
    border: 1px solid black;
    border-radius: 3vh;
    padding: 2vh;
}

#secao-principal {
    margin: auto;
    width: 65vw;
    height: 70vh;

    background-image: url(./Images/giphy\ \(12\).gif);
    background-size: 100% 100%;
    margin-top: 2vh;
    border: 0.8vh solid rgb(255, 255, 255);
    border-radius: 4vh;
}
#instrucao {
    color: white;
    font-weight: 900;
    width: max-content;
    height: 2vh;
    margin: auto;
    margin-top: 1vh;
    background-color: #f89b29;
    border: 1px solid white;
    border-radius: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
#funcionamento {
    text-align: center;
    padding-top: 0.1vh;
    padding-bottom: 0.1vh;
    margin: auto;
    font-size: 1.5vh;
}
#secao-lista-botoes {
    width: max-content;
    margin: auto;
}

#texto-tarefa {
    display: inline-block;
    width: 20vw;
    border-radius: 0.8vh;
}
#criar-tarefa {
    display: inline-block;
    width: max-content;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 1vh;
}
#apaga-tudo {
    display: inline-block;
    width: max-content;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 1vh;
}
#remover-finalizados {
    display: inline-block;
    width: max-content;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 1vh;
}
#salvar-tarefas {
    display: inline-block;
    width: max-content;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 1vh;
}
#buttons-criar-salvar {
    margin: auto;
    margin-top: 1vh;
    width: max-content;
}
#buttons-limpar {
    margin: auto;
    margin-top: 1vh;
    width: max-content;
}

.selected {
    background-color: gray;
}
.completed {
    text-decoration: line-through solid black;
}

#secao-lista-tarefas {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 3vh;
    margin-top: 2vh;
    height: 60vh;
    vertical-align: middle;
    font-size: 3vh;
    padding-left: 2vh;
}
#lista-tarefas {
    width: 50vw;
    height: max-content;
}
#titulo-lista {
    width: max-content;
    text-align: center;
    margin: auto;
}

#buttons-list {
    display: inline-block;

}
#mover-cima {
    display: block;
    width: 5vw;
    height: 3vh;
    margin: 2vh;    
    border-radius: 1vh;
}
#remover-selecionado {
    display: block;
    width: 5vw;
    height: 3vh;
    margin: 2vh;
    border-radius: 1vh;
}
#mover-baixo {
    display: block;
    width: 5vw;
    height: 3vh;
    margin: 2vh;
    border-radius: 1vh;
}